{% extends 'shop/layout/main.html' %}
{% load static %}
{% block title %}
{{products}}
{% endblock title %}

{% block content %}

<div style="margin-top: 55px;">{% include 'shop/include/messages.html' %}</div>
<section class="bg-light py-4 my-5 " style="min-height: 600px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{products}} Details :</h4>
                <hr style="border-color: #b8bfc2;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'collections' %}">Collections</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'collections' products.category.name %}">{{products.category.name}}</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{products}}</li>
                    </ol>
                </nav>
            </div>
            <div class="col-4 my-3 pic-box">
                {% if products.trending  %}

                <div class="hot">Trending</div>

                {% endif %}
                <div class="image-box">
                    <img src="{{products.product_image.url}}" class="card-image-top " alt="{{products}}">
                </div>
            </div>
            <div class="col-md-16 col-lg-8 col-sm-16 my-3 details">
                <div class="my-3 addtoc">
                    {% if products.quantity > 0 %}
                    <input type="hidden" value="{{products.id}}" id="pid">

                    <p>
                        <div class="input-group" style="width:150px">
                            <button class="input-group-text bg-danger text-light" id="btnMinus" style="width: 40px;"><i class="fa fa-minus"></i></button>
                                <input type="text" name="qty" id="txtQty" value="1" class="form-control text-center" style="width: 72px;">
                            <button class="input-group-text bg-success text-light" id="btnPlus" style="width: 40px;"><i class="fa fa-plus"></i></button>
                        </div>
                    </p>
                    <button class="btn btn-primary" id="btnCart"><i class="fa fa-shopping-cart">Add to cart</i></button>
                    {% else %}
                    <button class="btn btn-secondary"><i class="fa fa-minus">Out of stock</i></button>
                    {% endif%}
                    <button class="btn btn-danger" id="btnFav"><i class="fa fa-heart"></i></button>

                </div>
                <h5 class="text-success ">{{products}}</h5>
                <p ><b>Seller Name</b> : {{products.vender | upper}}</p>
                <p><b>Description</b>: {{products.description}}</p>
                <h6 class="my-2 text-danger">Current Price : Rs.<S>{{products.original_price |stringformat:'d'}}</S></h6>
                <h6 class="my-2 text-primary">Offer Price : Rs.{{products.selling_price |stringformat:'d'}}</h6>
                
                <div><a href="{% url 'buy' products products.category.name %}"><button class="btn btn-warning" id="" style="width: 160px;"><i class="fa fa-shopping-cart">Buy</i></button></a></div>
            </div>
        </div>
    </div>
</section>

<script>
document.addEventListener("DOMContentLoaded",function(event){
    const btnPlus=document.getElementById("btnPlus");
    const btnMinus=document.getElementById("btnMinus");
    const txtQty=document.getElementById("txtQty");
    const pid = document.getElementById("pid");
    const btnCart= document.getElementById("btnCart");
    const btnFav = document.getElementById("btnFav");


    btnPlus.addEventListener("click",function(){
        let qty=parseInt(txtQty.value,10);
        qty=isNaN(qty)?0:qty;
        if(qty<10){
            qty++;
            txtQty.value=qty;
        }
    });
    btnMinus.addEventListener("click",function() {
        let qty=parseInt(txtQty.value,10);
        qty=isNaN(qty)?0:qty;
        if(qty>1){
            qty--;
            txtQty.value=qty;
        }
    });
    btnCart.addEventListener("click",function() {
        let qty=parseInt(txtQty.value,10);
        qty=isNaN(qty)?0:qty;

        if(qty>0){
            let post0bj = {
                'product_qty': qty,
                'pid': pid.value,
            }
            //console.log(post0bj);
            fetch("/addtocart",{
                method: 'POST',
                credentials: 'same-origin',
                headers:{
                    'Accept': 'application/json',
                    'X-Requested-With':'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(post0bj)
            }).then(response => {
                return response.json();
            }).then(data => {
                //console.log(data)
                alert(data['status'])
            });

        }else{
            alert("Please Enter the Quantity");
        }
    });
    btnFav.addEventListener("click",function() {

        let post0bj = {

            'pid': pid.value,
        }
        //console.log(post0bj);
        fetch("/fav",{
            method: 'POST',
            credentials: 'same-origin',
            headers:{
                'Accept': 'application/json',
                'X-Requested-With':'XMLHttpRequest',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(post0bj)
        }).then(response => {
            return response.json();
        }).then(data => {
            //console.log(data)
            alert(data['status'])
        });


});

});



</script>
<style>
    
    @media only screen and (max-width:650px){
        .pic-box,.addtoc{
            margin-left: 50px;
        }
    } 
</style>

{% endblock content %}



