

<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span style="text-transform: uppercase;">Get connected with us on social networks:</span>
        </div>
        
        <div>
            <a href="https://www.facebook.com/sowndhar.randy?mibextid=ZbWKwL" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/RandySowndhar?t=7P9VrT4Fi3SU8DFk7Cu60w&s=09" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="mailto:sowndharrandy23@gmail.com" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a href="https://instagram.com/mr.dhiran_23?igshid=ZDdkNTZiNTM=" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/indhiran-v-a0436a233" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            
        </div>
    </section>
    
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><a href="{% url 'home' %}" class="text-reset " ><i class="fa fa-cart-plus"></i> Dhiran's Shop</a></h6>
                    <p>
                        Dhiran's Shop is a one stop destination for your family's fashion needs.
                        We give the opportunity to give your wardrobe a makeover with the latest collections from our top brand.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="{% url 'home' %}" class="text-reset">Home</a></p>
                    <p><a href="{% url 'collections' %}" class="text-reset">Collections</a></p>
                    <p><a href="{% url 'logout' %}" class="text-reset">logout</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful Links</h6>
                    <p><a href="https://www.facebook.com/sowndhar.randy?mibextid=ZbWKwL" class="text-reset " >Facebook</a></p>
                    <p><a href="https://twitter.com/RandySowndhar?t=7P9VrT4Fi3SU8DFk7Cu60w&s=09" class="text-reset">Twitter</a></p>
                    <p><a href="https://instagram.com/mr.dhiran_23?igshid=ZDdkNTZiNTM=" class="text-reset">Instagram</a></p>
                    
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa--home">Indhiran V</i></p>
                    <p><a href="mailto:sowndharrandy23@gmail.com" style="color: white" ><i class="fa fa--envelope"><u>sowndharrandy23@gmail.com</u></i></a></p>
                    <p><i class="fa fa--phone">+91 8870123584</i></p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4">
        &copy; 2023 Copyright<a class="text-reset fw-bold" href="#"> Indhiran V</a>
    </div>
</footer>