{% extends 'shop/layout/main.html' %}
{% load static %}
{% block title %}
    BUY | GET
{% endblock title %}

{% block content %}

<div style="margin-top: 55px;">{% include 'shop/include/messages.html' %}</div>
<section class="bg-light  " >
    <div class="container">
        <h4 class="mb-3">{{products | upper}} </h4>
        <hr style="border-color: #b8bfc2;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'collections' %}">Collections</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{products}}</li>
            </ol>
        </nav>
    </div>
</section>
<section class="">


            <div class=" buyitem" >
                <div >
                    
                    <img src="{{products.product_image.url}}" class="card-image-top " alt="{{products}}"><br><br>
                    <h5 class="text-success ">{{products}}</h5>
                    <h6 class="my-2 text-danger">Current Price : Rs.<S>{{products.original_price |stringformat:'d'}}</S></h6>
                    <h6 class="my-2 text-primary">Price : Rs.{{products.selling_price |stringformat:'d'}}</h6>
                    <h6><b>PAYMENT TYPE :</b>Cash On Delivery</h6>
                    
                </div>
                <form action="">
                    {% csrf_token %}
                    <label for="fname">First name:</label><br>
                    <input type="text" size="20" id="fname" name="fname" placeholder="Enter your Name" required><br><br>
                    <label for="lname">Last name:</label><br>
                    <input type="text" size="20" id="lname" name="lname" placeholder="Enter your Last Name"  required><br><br>
                    <label for="lname">Mobile Number:</label><br>
                    <input type="text" size="20" id="lname" name="lname" placeholder="Enter your number" pattern="[0-9]{10}" required><br><br>
                    <label for="cf_address" >Address:</label><br>
                    <textarea name="" id="" cols="25" rows="4" placeholder="Enter your Address" required></textarea><br><br>
                    <input type="submit" onsubmit="ordere()" value="Order" class="btn btn-warning" style="width:250px";>
                </form>
            </div>


</section>


<style>
    img:hover{
    height: 500px;
}
.buyitem{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.buyitem div,form{
    padding: 20px;
    margin: 10px;

}
input,textarea {
    border: none;
    padding: 2px;
    border-radius: 10px;
    width: 300px;
}

input:hover,textarea:hover{
    border:2px solid rgb(233, 253, 52)
}

.buyitem form{
    border-radius: 4px;
    background: rgb(246, 253, 148);
    
    
}
@media only screen and (max-width:750px){
    .buyitem{
         display: block;

    }
    input,textarea {
        width: 100%;
    }
}
</style>
<script>
function ordere(){
        alert("ordered successfully done by {{user}}.Thankyou!!! ");
    }
</script>
{% endblock content %}


