{% extends 'shop/layout/main.html' %}
{% block title %}
    Home | Diran's shop
{% endblock title %}

{% block content %}
<div class="bg-home">
<div style="margin-top: 55px;">{% include 'shop/include/messages.html' %}</div>
{% include 'shop/include/slider.html' %}

    <div class="container-fluid " style="margin-top: 10px; margin-left:20px">

        <div class="row">
            <div class="col-12"><h1>Latest Offers :</h1></div>
            <hr style="border-color: #b8bfc2;">
            <h4>All Collections : <a href="{% url 'collections' %}" class="text-success" >See Here.!</a></h4>

            {% for item in products %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3" >
                    <a href="{% url 'product_details' item.category.name item.name %}">
                    <div class="imgdiv">
                        <img src="{{item.product_image.url}}" class="card-image-top" alt="categories">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title  name">{{item.name}}</h5>

                        <p class="card-text">
                            <span class="float-start old_price"><s>Rs.{{item.original_price |stringformat:'d'}}</s></span>
                            <span class="float-end new_price">Rs.{{item.selling_price |stringformat:'d'}}</span>
                        </p>

                    </div>
                </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    @media only screen and (max-width:650px){
        .card{
            margin-left: 50px;

        }
        .card .imgdiv {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 300px;
        }
          
        .card  img{
            height: 100%;
            width: auto;
            
        }
    
    }
    .card .imgdiv {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 300px;
    }
    .card  img{
        height: 100%;
        width: auto;
        border-radius: 7px;
    }
    .name{
        color:#a71960;
        font-weight: bold;
        font-family: Calibri;
    }
    .name:hover{
        text-decoration: underline;
        color:#a84677;
        font-family: 'Gill Sans';
        border-radius: 4px;
        padding: 3px;
    }

</style>
{% endblock content %}



